{% load i18n %}

<script src="https://unpkg.com/@superset-ui/embedded-sdk"></script>

<div class="aspects-wrapper" width="parent">
    <h2>{{display_name}}</h2>

    {% if exception %}
    <p>{% trans 'Superset is not configured properly. Please contact your system administrator.'%}</p>
    <p>
        {{exception}}
    </p>
    {% elif not dashboard_uuid and not superset_dashboards %}
    <p>
        Dashboard UUID is not set. Please set the dashboard UUID in the Studio. {{dashboard_uuid}}
    </p>
    {% elif superset_url and superset_token %}
        {% if xblock_id %}
        <div class="superset-embedded-container" id="superset-embedded-container-{{xblock_id}}"></div>
        {% else %}
            {% for dashboard in superset_dashboards %}
                <div>
                    <h3>{{dashboard.name}}</h3>
                </div>
                <div class="superset-embedded-container" id="superset-embedded-container-{{dashboard.uuid}}"></div>
            {% endfor %}
        {% endif %}
    <script type="text/javascript">
        window.superset_dashboards = {{superset_dashboards | safe }};
        window.superset_url = "{{superset_url}}";
        window.superset_token = "{{superset_token}}";
    </script>
    {% endif %}
</div>
